* {
  box-sizing: border-box;
}
body {
  font-size: 20px;
  line-height: 1.5;
  height: 100%;
  width: 100vw;
  padding: 0;
  overflow-x: hidden;
}
header {
  font-size: 1.8em;
  margin-top: 60px;
}
nav ul li {
  list-style-type: none;
  border-bottom: 1px solid black;
  padding: 15px 30px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul {
  padding: 0 0 100px;
}
nav {
  border-right: 2px solid black;
  width: 25vw;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  margin-top: 50px;
}
#main-doc {
  width: 70vw;
  margin-left: 25vw;
  padding: 20px;
}
nav ul li:first-of-type {
border-top: 1px solid black;
} 
#header {
  position: fixed;
  padding: 0;
  margin: 0;
}
.add-info {
  margin-bottom: 80px;
}
.add-info {
  font-weight: 500;
  font-family: tahoma;
}
img {
  height: auto;
  max-width: 100%;
  margin-top: 20px;
  margin-left: -50px;
}
@media (max-width: 768px) {
  nav {
    width: 100%;
    height: 30vh;
    border-right: none;
    border-bottom: 2px solid gray;
    position: absolute;
    top: 60;
    left: 0;
    margin-top: 0;
    padding: 0;
  }
    figure {
      margin-top: 170px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -40px;
      text-align: center;
    }
      #header {
        position: relative;
        background-color: white;
      }
  #main-doc {
          text-align: center;
          padding: 10px;
          margin: 0 auto;
          width: 100vw;
          margin-left: 0;
        }
        img {
    max-width: 90%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block; 
        }
        body {
          margin: 0;
          padding: 0;
        }
        nav ul {
          padding: 0;
          margin: 0;
        }
      }
